{{ partial "header.html" . }}

<aside class="hidden lg:block toc " id="tableOfContentContainer">
{{ if .Params.toc }}
  {{ .TableOfContents }}
{{ end }}
</aside>

{{ if .IsHome }}
    <!--TODO: replace with faster search-->
    {{ range .Sections }}
        <h2 class="section-title">{{ .CurrentSection.Title }}</h2>
        {{ .CurrentSection.Content }}
        {{ partial "post_row.html" . }}
    {{ end }}
{{ else }}
    <h2 class="section-title">{{ .CurrentSection.Title }}</h2>
    {{ partial "post_list.html" . }}
{{ end }}
<div class="home-content">{{ .Content }}</div>

{{ partial "footer.html" . }}
