nav {
  display: flex;
  width: 100%;
}

#top-nav {
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: var(--background);
  border-bottom: 1px solid var(--code-background);
}

#top-nav li a:hover {
  text-decoration: none;
  color: var(--background);
  background-color: var(--link);
}

.menu {
  padding: 0px 4px 0px 0px;
  z-index: 999;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 10px !important;
}

#title {
  font-family: "Themed", Arial, sans-serif;
  font-size: 1.5em;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 13px;
  color: var(--text);
}

#title::after {
  color: var(--text);
  margin-left: 15px;
  margin-top: 20px;
  content: " .  .  . ";
  white-space: nowrap;
}


#title:hover {
  text-decoration: none;
}


.menu li {
  display: inline-block;
}

.menu a {
  padding: 1px;
  text-decoration: none;
  font-size: .85em;
}
.menu li::after {
  font-size: .6em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  content: "|"
}

.menu a:visited {
  color: var(--link);
}

.menu a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  #title {
    margin-right: 0px;
  }
  #title::after {
    margin-left: 8px;
  }
  .menu li::after {
    margin-left: .7em;
    margin-right: .7em;
  }
}
