/* SEARCH */
#search-input {
  padding: 6px;
  width: 100%;
  max-width: 250px;
  min-width: 220px;
}

#search-container {
  margin-top: 5px;
}

input {
  background-color: var(--background);
  color: var(--text);
  border-color: var(--border-general);
  border-radius: 4px;
}

#results {
  padding-left: 16px;
}
