/* TOC */
#tableOfContentContainer {
  position: sticky;
  top: 70px;
  min-width: 220px;
  height: 500px;
}

#TableOfContents {
  max-height: 85vh;
  overflow-y: auto;
}
#TableOfContents:hover {
  opacity: 1;
}

#TableOfContents li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc a {
  color: var(--text-dim);
}

.toc a:visited {
  color: var(--text-dim);
}

.toc {
  padding: 0;
  background-color: transparent;
  font-size: 80%;
  line-height: 1.3;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.toc li,
.toc ul,
.toc ul li {
  list-style: outside none none;
  margin-top: 3px;
  margin-bottom: 3px;
}

.toc ul li a {
  /* transition-duration: 50ms; */
}

.active-toc {
  font-weight: bold;
}

/* h2 in toc has 20px padding and h1 should be the title and shouldn't be present in toc */
#TableOfContents {
  margin-left: -25px;
}

#TableOfContents ul {
  padding-left: 20px;
}

.toc h3 {
  margin-left: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

@media screen and (max-width: 760px) {
#tableOfContentContainer {
    display: none;
  }
}
